@model MvcCheckBoxListSampleApp.ViewModels.CitiesViewModel

<h1>Basic Example:</h1>

@if (Model.WasPosted) {
	<fieldset>
		<legend>POST result:</legend>
		@if (Model.SelectedCities != null) {
			@string.Join(", ", Model.SelectedCities.Select(x => x.Name))
		}
	</fieldset>
}
		
<fieldset>
	<legend>Given</legend>
<pre class="cs">
&#64;{
	// data list
	var sourceData = new[] {
		new {Name = "Monroe", Id = 1},
		new {Name = "Moscow", Id = 2},
		new {Name = "New Orleans", Id = 3},
		new {Name = "Ottawa", Id = 4},
		new {Name = "Mumbai", Id = 5},
		new {Name = "Rome", Id = 6},
		new {Name = "Rio", Id = 7}
	};
	// values to be checked
	var selectedValues = new[] {"2", "3", "5", "7"};								 
	// values to be disabled
	var disabledValues = new[] {"2", "4", "7"};
	// our data converted to List of SelectListItem
	var data = sourceData.Select
		(r => new SelectListItem {
				Value = r.Id.ToString(), Text = r.Name,
				Selected = selectedValues.Any(s => s == r.Id.ToString())	// checks box if selected
				}).ToList();									 
}
</pre>
		@{
			var sourceData = new[] {
												 new {Name = "Monroe", Id = 1},
												 new {Name = "Moscow", Id = 2},
												 new {Name = "New Orleans", Id = 3},
												 new {Name = "Ottawa", Id = 4},
												 new {Name = "Mumbai", Id = 5},
												 new {Name = "Rome", Id = 6},
												 new {Name = "Rio", Id = 7}
											 };
			var disabledValues = new[] {"2", "4", "7"};
			var data = sourceData.Select
				(r => new SelectListItem {
				                         	Value = r.Id.ToString(), Text = r.Name,
				                         	Selected = Model.SelectedCities.Any(s => s.Id == r.Id)
				                         }).ToList();
		}
</fieldset>

<fieldset>
	<legend>Using control</legend>
	<h3>Default:</h3>
	@using (Html.BeginForm("SelectListBased", "Home", FormMethod.Get)) {
		<p>@Html.CheckBoxList("Cities", data)</p>
		<input type="submit" value="POST to controller" />
	}
			
	<h3>Code:</h3>
	<pre class="cs">&#64;Html.CheckBoxList("Cities", data)</pre>

	<h3>Vertical:</h3>
	@using (Html.BeginForm("SelectListBased", "Home", FormMethod.Get)) {
		<p>@Html.CheckBoxList("Cities", data, Position.Vertical)</p>
		<input type="submit" value="POST to controller" />
	}
			
	<h3>Source Code:</h3>
	<pre class="cs">&#64;Html.CheckBoxList("Cities", data, Position.Vertical)</pre>

	<h3>Vertical Unordered List:</h3>
	@using (Html.BeginForm("SelectListBased", "Home", FormMethod.Get)) {
		<p>@Html.CheckBoxList("Cities", data, new HtmlListInfo(HtmlTag.ul))</p>
		<input type="submit" value="POST to controller" />
	}
			
	<h3>Source Code:</h3>
	<pre class="cs">&#64;Html.CheckBoxList("Cities", data, new HtmlListInfo(HtmlTag.ul))</pre>

	<h3>Two Column List (wrapped in &lt;table&gt;):</h3>
	@using (Html.BeginForm("SelectListBased", "Home", FormMethod.Get)) {
		<p>@Html.CheckBoxList("Cities", data, new HtmlListInfo(HtmlTag.table, 2))</p>
		<input type="submit" value="POST to controller" />
	}
			
	<h3>Source Code:</h3>
	<pre class="cs">&#64;Html.CheckBoxList("Cities", data, new HtmlListInfo(HtmlTag.table, 2))</pre>

	<h3>Two Column List With Disabled Values (wrapped in floating &lt;div&gt;):</h3>
	@using (Html.BeginForm("SelectListBased", "Home", FormMethod.Get)) {
		<p>
		@Html.CheckBoxList("Cities", data, null, 
			new HtmlListInfo(HtmlTag.vertical_columns, 2, new { style="color:green;" }),
			disabledValues)
		</p>
		<input type="submit" value="POST to controller" />
	}
			
	<h3>Source Code:</h3>
	<pre class="cs">&#64;Html.CheckBoxList("Cities", data, null, new HtmlListInfo(HtmlTag.vertical_columns, 2, new { style="color:green;" }), disabledValues)</pre>


	<h3>Two Column Styled List (wrapped in floating &lt;div&gt;):</h3>
	@using (Html.BeginForm("SelectListBased", "Home", FormMethod.Get)) {
		<p>
		@Html.CheckBoxList("Cities", data,
			new { @class="styled_checkbox" },
			new HtmlListInfo(HtmlTag.vertical_columns, 2, new { @class="styled_list" }),
		  disabledValues)
		</p>
		<input type="submit" value="POST to controller" />
	}
			
	<h3>Source Code:</h3>
  <h5>We have this style for each checkbox:</h5>
	<pre class="css">.styled_checkbox {cursor:pointer; background:wheat; padding:2px 5px; border-radius:5px;}</pre>
	<h5>Also we have this style for the list wrapper:</h5>
	<pre class="css">.styled_list {color:green; background:lightblue; padding:3px 10px 3px 5px; border-radius:5px;}</pre>
	<h5>And use it like this:</h5>
<pre class="cs">
&#64;Html.CheckBoxList("Cities", 
                   data,
                   new { &#64;class="styled_checkbox" },
                   new HtmlListInfo(HtmlTag.vertical_columns, 2, new { &#64;class="styled_list" }),
                   disabledValues)
</pre>
			
</fieldset>