@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title>Index</title>
	
  @* CSS *@
	<link href="@Url.Content("~/Content/kickstart/kickstart.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/style.lib.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />

  <link href="@Url.Content("~/Content/style.examples.css")" rel="stylesheet" type="text/css" />
  
  @* Scripts *@
	@*<script src="http://code.jquery.com/jquery.min.js"></script>*@
  <script>window.jQuery || document.write('<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"><\/script>')</script>

	<script src="@Url.Content("~/Scripts/kickstart.js")"></script>
	<script src="@Url.Content("~/Scripts/prettify.js")"></script>

</head>
<body>
	<div class="wrapper clearfix">
    <div class="top_menu">
      <a href="/">Home</a>
    </div>

		<div class="header margin_bottom30">
			<h1 class="margin_top30 margin_bottom30">MVC3 Html.CheckBoxList() extension</h1>
      
      <ul style="width: 350px;" class="menu center">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Documentation", "Docs", "Home")</li>
        <li>@Html.ActionLink("Examples", "Examples", "Home")</li>
      </ul>
      <div class="clear"></div>
		</div>
	
		<div class="content">
			@RenderBody()
		</div>
	</div>
	
	<div class="footer">
		By <a target="_blank" href="http://www.codeproject.com/Members/Mikhail-T">Mikhail Tsennykh</a>, 2012
	</div>

</body>
</html>